header {
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

header .logo {
  width: 119px;
  height: 13px;
  background-color: #999999;
}

header .actions {
  display: flex;
  align-items: center;
}
header .actions > button {
  margin-right: 10px;
}
header .actions > button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 620px) {
  header .actions > button:last-child {
    display: none;
  }

  header .actions > button {
    margin-right: 10px;
  }

  header .actions > button:nth-child(2) {
    margin-right: 0;
  }

  header .actions > .btn {
    width: 72px;
  }
}